/* Setting Variables */

:root {
    /* Font Families */
    --font-family-primary: "Space Grotesk", sans-serif; /* Primary Font */

    /* Font Weights */
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;

    /* Tracking (Letter Spacing) */
    --tracking-tight: -2%;

    /* Base Colors */
    --color-primary: #c3fe32; /* Core Lime */
    --color-secondary: #1cb2f7; /* Security Blue */
    --color-accent: #9747ff; /* System Violet */
    --color-white: #ffffff; /* Zero White */
    --color-black: #000000; /* Command Black */

    /* Semantic Colors */
    --color-success: #54de62; /* Success Green */
    --color-warning: #ffdb00; /* Warning Yellow */
    --color-error: #fe691c; /* Error Red */
    --color-info: #9747ff; /* Info Violet */

    /* Grayscale */
    --color-gray-0: #fafaf9;
    --color-gray-10: #f1f0ef;
    --color-gray-20: #e7e5e4;
    --color-gray-30: #d6d3d1;
    --color-gray-40: #a8a29e;
    --color-gray-50: #78716c;
    --color-gray-60: #57534e;
    --color-gray-70: #44403c;
    --color-gray-80: #292524;
    --color-gray-90: #1c1917;
    --color-gray-100: #111827;
    --color-gray-110: #0f0f0f;
}

/* ---------------------------------- */
.green {
    color: var(--color-primary);
}
.blue {
    color: var(--color-secondary);
}
.purple {
    color: var(--color-accent);
}
.black {
    color: var(--color-black);
}
.white {
    color: var(--color-white);
}
.red {
    color: var(--color-error);
}
